.Login{
    background-color: #041622;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/img-login.svg');
    background-repeat: no-repeat;
    background-position: 0% bottom;
    background-size: 60%;
}
.login-content{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-voltar{
    height: 6%;
    width: 7%;
    align-self: flex-start;
    margin-top: 1.2em;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.btn-voltar-link{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-voltar-p{
    color: #fff;
}
.btn-voltar-img{
    transform: rotate(180deg);
    margin-bottom: 0.6em;
}
.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 35%;
}
.login-h1{
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #F23545;
}
.login-form-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    margin-top: 2em;
}
.input-container {
    position: relative;
}
.input-login {
    border: 0;
    border-bottom: 2px solid #F23545;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
} 
label {
    top: 0;
    left: 0; right: 0;
    color: #F23545;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    font-weight: 500;
}

.input-login,
label {
    font-family: Raleway, sans-serif;
    width: 100%;
    height: pattern='.+' pattern='.+' 3rem;
    font-size: 1rem;
    background-color: none;
}

.input-login:focus,
.input-login:valid {
    border-bottom: 2px solid #008296;   
}

.input-login:focus + label,
.input-login:valid + label {
    color: #07BEDA;
    font-size: .8rem;
    top: -30px;
    pointer-events: none;
}
.btn-acessar-container{
    width: 32%;
    height: 12%;
    text-decoration: none;
}
.btn-acessar{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border-radius: 15px;
    background-color: #008296;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 0.9em;
}
.btn-acessar:hover{
    background-color: #F23545;
}
.btn-acessar-icon::before{
    content: url('../../assets/img/start_btn2.svg');
    position: absolute;
}
.btn-acessar-icon:hover::before{
    display: none;
}
.btn-acessar-icon:hover{
    content: url('../../assets/img/start_btn2.svg');
}