.Mural{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #643400;
    font-family: Poppins, sans-serif;
    color: #fff;
}
.mural-elements{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.infos{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}
.infos h2{
    font-weight: 700;
    font-size: 1.8em;
}
.infos h3{
    font-style: italic;
    font-weight: 300;
    font-size: 1.2em;
}
.container-infos{
    display: flex;
    background: rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 14em;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 2%;
}
.content-infos{
    background-color: #ffffff0b;
    width: 27%;
    height: 70%;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content-infos h4{
    font-weight: 700;
    font-size: 1.2em;
}
.content-visao-geral{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.content-visao-geral div{
    display: flex;
    border-radius: 15px;
    background: #f3ec11;
    align-items: center;
    width: 100%;
    height: 43%;
    justify-content: center;
    font-size: 1.1em;
}
.content-visao-geral div p{
    margin-left: 3%;
    color: #000;
    font-weight: 600;
}
.content-desafios{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
    align-items: center;
    overflow-y: scroll;
}
.content-desafios div{
    display: flex;
    border-radius: 15px;
    background: #f3ec11;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 5% 0 0 0;
    font-size: 1em;
    padding: 2% 0;
}
.content-desafios div p{
    margin-left: 6%;
    text-align: left;
    width: 70%;
    color: #000;
    font-weight: 600;
}
.content-contagem{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.content-contagem div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.content-contagem div h5{
    font-weight: 700;
    font-size: 2.8em;
}
.content-contagem div h6{
    margin-left: 3%;
    font-weight: 200;
    font-size: 2.8em;
    color:  rgba(255, 255, 255, 0.666);
}
.content-contagem p{ 
    font-size: 1.2em;
}
.link-card{
    cursor: pointer;
    color: #ffffff2c;
}
.link-card:hover{
    color: #ffffff85;
}
.postagens{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}
.postagens h2{
    font-weight: 700;
    font-size: 1.8em;
}
.postagens h3{
    font-style: italic;
    font-weight: 300;
    font-size: 1.2em;
}
.container-postagens{ 
    display: flex;
    background: #0000005f;
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 2%;
    padding: 2.5%;
    margin-bottom: 2%;
}
.actions-postagens{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-nova-postagem{
    width: 18%;
}
.action-postagens{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:  #ffffff85;
}
.action-postagens:hover{
    color:  #ffffffd4;
}
.action-postagens p{
    margin-left: 9%;
}
.actions-right{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.action-filtro{
    width: 32%;
}
.content-postagens{
    margin-top: 2%;
    background-color: #ffffff0b;
    width: 95%;
    height: 50vh;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}