.verticalNav{
    position: fixed;
    right: 5%;
    top: 30%;
    height: 50%;
}
.link-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}
.nav-dots{
    display: block;
    width: 8px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f235457e;
    color: #f235457e;
    backdrop-filter: blur(10px);
}
.dot-active{
    background-color: #fa1c2e;
    color: #fa1c2e;
}