.Footer{
    width: 100%;
    height: 13vh;
    background-color: #041622;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-footer{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.links-footer{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-p{
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}