.nav{
    display: flex;
}
/* Nav Home */
.nav-container-home{
    width: 100vw;
    height: 18vh;
    background-color: #041622;
    display: flex;
    justify-content: center;
}
#links-home{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content-home{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    font-family: Poppins, 'sans-serif';
    font-weight: 500;
    font-size: 13px;
    color: #07BEDA;
    cursor: pointer;
}
.btn-entrar{
    width: 15%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #008296;
    border-radius: 15px;
}
.btn-entrar:hover{
    background-color: #d10c1d;
}
.btn-entrar p{
    margin: 0 0 0 5%;
    font-family: Poppins, 'sans-serif';
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}
.btn-entrar-icon::before{
    content: url('../../assets/img/start_btn2.svg');
    position: absolute;
}
.btn-entrar-icon:hover::before{
    display: none;
}
.btn-entrar-icon:hover{
    content: url('../../assets/img/start_btn2.svg');
}

/* Nav Fora da Home */
.nav-container-fora{
    width: 100vw;
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
#links-fora{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links-fora > a > img{
    width: 70%;
}
.icons{
    display: flex;
    width: 18%;
    justify-content: space-between;
}